In [8]:
import pandas as pd
data = {
    'Employee': ['John', 'Alice', 'Bob', 'Emma'],
    'Department': ['IT', 'HR', 'Finance', 'IT'],
    'Salary': [60000, 55000, 70000, 72000],
    'Age': [30, 28, 35, 32]
}
df = pd.DataFrame(data)
print(df.head(2))
print("\n")
df['Experience'] = [5, 3, 7, 6]
print(df)
average_salary = df['Salary'].mean()
print(f"\nAverage Salary of all employees: {average_salary}")

  Employee Department  Salary  Age
0     John         IT   60000   30
1    Alice         HR   55000   28


  Employee Department  Salary  Age  Experience
0     John         IT   60000   30           5
1    Alice         HR   55000   28           3
2      Bob    Finance   70000   35           7
3     Emma         IT   72000   32           6

Average Salary of all employees: 64250.0